.timer {
  position: relative;
  display: block;
  padding: 1rem;
}

.upper-timer {
  
}

.name-input {
  padding: 0.4em 0.7em;
  font-size: 1em;
  font-weight: bold;
  width: 75%;
  border-radius: 7px;
}
.upper-button {
  font-size: 1.45em;
  margin: 0.1em 0;
  font-weight: bolder;
  color: grey;
  border: none;
  background-color: inherit;
  line-height: 0;
  transition: 0.15s;
}

.upper-button:hover {
  color: white;
}

.delete-button {
  font-size: 1.8em;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.middle-timer {
  margin: 1em;
}

.timer-toggle {
  font-size: 3em;
  padding: 0;
  margin: 0;
  line-height: 0;
  width: min-content;
  padding: 0.3em;
  border-radius: 50%;
}

.middle-timer, .lower-timer {
  text-align: center;
}

.lower-timer {
  font-weight: bolder;
}
.progress-bar {
  width: 100%;
  height: 1.3em;
} 
/* progress::-moz-progress-bar { background: blue; border-radius: 3px; border: 0;}
progress::-webkit-progress-value { background: blue; border-radius: 3px; border: 0;}  */

.timer-display {
  font-size: 1.3em;
  font-weight: bold;
}
.timer-display-finished {
  color: limegreen;
}

.flt-right {
  float: right;
}

